/* deezer clone */
* {
position: relative;
width: 1920px;
height: 3427px;
--bg-gradient: linear-gradient(286deg,rgb(27 231 255/50%) 25.99%,#e47aff 64.62%,rgb(109 19 255/60%) 80.2%);
background: #121216;
}

/* div.tempo-topbar */
tempo-topbar {
    position: absolute;
    height: 115px;
    left: 0px;
    right: 0px;
    top: 0px;
    }
.logo {
    /* div.tempo-topbar */

position: absolute;
height: 115px;
left: 0px;
right: 0px;
top: 0px;



/* Link */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 9px 16.41px 7px 17px;

position: absolute;
width: 121.41px;
height: 42px;
left: 1726.59px;
top: 19px;

border: 1px solid #FFFFFF;
border-radius: 100px;


/* Iniciar sesión */

width: 88px;
height: 26px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 26px;
/* identical to box height, or 217% */
display: flex;
align-items: center;
text-transform: uppercase;

color: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Logo-principal */

position: absolute;
width: 117px;
height: 24px;
left: 901.5px;
top: 37px;

background-image: ;


}    
/* pseudo */
body {
position: absolute;
width: 1344px;
height: 540px;
left: 288px;
top: 50px;
background: linear-gradient(106.3deg, rgba(241, 42, 42, 0.9) 25.95%, #BF1CEB 44.46%, #06AD57 65.35%, rgba(6, 173, 87, 0.6) 76.7%);
opacity: 0.4;
filter: blur(50px);
border-radius: 942px;
}

/* Link */
inicio {
box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 9px 16.41px 7px 17px;

position: absolute;
width: 121.41px;
height: 42px;
left: 1726.59px;
top: 19px;

border: 1px solid #FFFFFF;
border-radius: 100px;

/* Iniciar sesión */

width: 88px;
height: 26px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 26px;
/* identical to box height, or 217% */
display: flex;
align-items: center;
text-transform: uppercase;

color: #FFFFFF;
}

/* Logo-principal */
logo-deezer {
position: absolute;
width: 117px;
height: 24px;
left: 901.5px;
top: 37px;
}

/* div.oferta */
div.oferta {
position: absolute;
width: 640px;
height: 2560px;
left: calc(50% - 640px/2);
top: calc(50% - 2560px/2 - 318.5px);
}


/* Heading 1 */
heading {
position: absolute;
width: 600px;
height: 64px;
left: 20px;
top: 5px;
}


/* Para empezar a disfrutar de la música */
text.oferta {
position: absolute;
width: 539.09px;
height: 32px;
left: 30.55px;
top: 0px;

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}


/* Descuentos */
div.descuentos {
position: absolute;
width: 600px;
height: 1093px;
left: 20px;
top: 93px;
}


/* Item */
container {
position: absolute;
width: 600px;
height: 544.5px;
left: 0px;
top: 0px;
}


/* Premium */
container.premium {
position: absolute;
height: 418.5px;
left: 0px;
right: 0px;
top: 0px;

background: linear-gradient(75.06deg, #B84FDD 0%, #4965F4 44.6%, #2EFB74 100%);
border-radius: 20px;
}

/* Link ⏵ Heading 2 */
/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 0.390015px 1px 0px;

position: absolute;
width: 270.39px;
height: 46px;
left: 164.8px;
top: 23px;



/* deezer Premium */

width: 270px;
height: 45px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 45px;
/* identical to box height, or 129% */
display: flex;
align-items: center;
text-align: center;
text-transform: lowercase;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* div.unlogged-card-text */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 11.45px 0px 10.55px;
gap: 19px;

position: absolute;
width: 440px;
height: 95px;
left: calc(50% - 440px/2);
top: calc(50% - 95px/2 - 74.75px);



/* Selecciona y reproduce cualquier canción sin anuncios, descárgate tus favoritas y escúchalas sin conexión. */

width: 392px;
height: 38px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* or 119% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Escucha contenidos en todos tus dispositivos y disfruta de sonido de alta fidelidad. */

width: 418px;
height: 38px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* or 119% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Link */

position: absolute;
width: 338px;
height: 54px;
left: calc(50% - 338px/2);
top: calc(50% - 54px/2 + 23.75px);

background: #121216;
border-radius: 400px;


/* Pruébalo gratis */

position: absolute;
width: 122.33px;
height: 16px;
left: 107.94px;
top: 19px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* or 100% */
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;



/* Link ⏵ 1 mes gratis */

position: absolute;
width: 169.56px;
height: 32px;
left: 215.31px;
top: 286px;

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 29px;
line-height: 38px;
/* or 129% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Link ⏵ luego, $10.99/mes. */

position: absolute;
width: 137.28px;
height: 19px;
left: 231.45px;
top: 321.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height, or 119% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Sin compromiso, puedes cancelar en cualquier momento. */

position: absolute;
width: 357.09px;
height: 16px;
left: 121.63px;
top: 364.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Link ⏵ Más información */

position: absolute;
width: 105.75px;
height: 16px;
left: 247.22px;
top: 386.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #FFFFFF;

opacity: 0.7;


/* Descuento */

box-sizing: border-box;

position: absolute;
height: 39px;
left: 0px;
right: 0px;
top: 442.5px;

border: 1px solid #92929D;
border-radius: 100px;


/* div.unlogged-card-folded-content */

position: absolute;
width: 121.75px;
height: 21px;
left: calc(50% - 121.75px/2 + 0.01px);
top: calc(50% - 21px/2);



/* Descuento anual */

position: absolute;
width: 105px;
height: 21px;
left: 0px;
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Icon */

position: absolute;
width: 12.02px;
height: 12px;
left: 109.73px;
top: 16.5px;

transform: matrix(1, 0, 0, -1, 0, 0);


/* Vector */

position: absolute;
left: 0.08%;
right: 25.04%;
top: 71.4%;
bottom: -14.3%;

background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* div.unlogged-card-folded-badge */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 2px 10.33px 3.66px 10px;

position: absolute;
left: 535.67px;
right: 9px;
top: 7.17px;
bottom: 7.17px;

background: linear-gradient(80.32deg, #B84FDD 0%, #4965F4 44.6%, #2EFB74 100%);
border-radius: 20px;


/* -25 % */

width: 35px;
height: 19px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Item */

box-sizing: border-box;

position: absolute;
height: 39px;
left: 0px;
right: 0px;
top: 505.5px;

border: 1px solid #92929D;
border-radius: 100px;


/* div.unlogged-card-folded-content */

position: absolute;
width: 192.41px;
height: 21px;
left: calc(50% - 192.41px/2 + 0.01px);
top: calc(50% - 21px/2);



/* Descuento para estudiantes */

position: absolute;
width: 176px;
height: 21px;
left: -1px;
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Icon */

position: absolute;
width: 12.02px;
height: 12px;
left: 180.39px;
top: 16.5px;

transform: matrix(1, 0, 0, -1, 0, 0);


/* Vector */

position: absolute;
left: 0.08%;
right: 25.04%;
top: 71.4%;
bottom: -14.3%;

background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* div.unlogged-card-folded-badge */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 2px 10.33px 3.66px 10px;

position: absolute;
left: 535.67px;
right: 9px;
top: 7.17px;
bottom: 7.17px;

background: linear-gradient(80.32deg, #B84FDD 0%, #4965F4 44.6%, #2EFB74 100%);
border-radius: 20px;


/* -50 % */

width: 35px;
height: 19px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Familia */

position: absolute;
width: 600px;
height: 500.5px;
left: 0px;
top: 592.5px;



/* Item */

position: absolute;
height: 437.5px;
left: 0px;
right: 0px;
top: 0px;

background: linear-gradient(61.33deg, #DC4C11 10.71%, #FEAB2E 100%);
border-radius: 20px;


/* Link ⏵ Heading 2 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 2.42px 1px 2px;

position: absolute;
width: 230.42px;
height: 46px;
left: 184.78px;
top: 23px;



/* deezer Family */

width: 226px;
height: 45px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 45px;
/* identical to box height, or 129% */
display: flex;
align-items: center;
text-align: center;
text-transform: lowercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* div.unlogged-card-text */

position: absolute;
width: 440px;
height: 114px;
left: calc(50% - 440px/2);
top: calc(50% - 114px/2 - 74.75px);



/* Música para todos. */

position: absolute;
width: 137px;
height: 19px;
left: 151.89px;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height, or 119% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Consigue 6 cuentas individuales con todas las ventajas de Deezer Premium, incluido el sonido de alta fidelidad. */

position: absolute;
width: 414px;
height: 38px;
left: 12.48px;
top: 38px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* or 119% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Escucha simultáneamente en varios dispositivos. */

position: absolute;
width: 351px;
height: 19px;
left: 44.92px;
top: 95px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height, or 119% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Link */

position: absolute;
width: 338px;
height: 54px;
left: calc(50% - 338px/2);
top: calc(50% - 54px/2 + 33.25px);

background: #121216;
border-radius: 400px;


/* Pruébalo gratis */

position: absolute;
width: 122.33px;
height: 16px;
left: 107.94px;
top: 19px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* or 100% */
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;



/* Link ⏵ 1 mes gratis */

position: absolute;
width: 169.56px;
height: 32px;
left: 215.31px;
top: 305px;

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 29px;
line-height: 38px;
/* or 129% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Link ⏵ luego, $17.99/mes. */

position: absolute;
width: 137.28px;
height: 19px;
left: 231.45px;
top: 340.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height, or 119% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Sin compromiso, puedes cancelar en cualquier momento. */

position: absolute;
width: 357.09px;
height: 16px;
left: 121.63px;
top: 383.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Link ⏵ Más información */

position: absolute;
width: 105.75px;
height: 16px;
left: 247.22px;
top: 405.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #FFFFFF;

opacity: 0.7;


/* Item */

box-sizing: border-box;

position: absolute;
height: 39px;
left: 0px;
right: 0px;
top: 461.5px;

border: 1px solid #92929D;
border-radius: 100px;


/* div.unlogged-card-folded-content */

position: absolute;
width: 121.75px;
height: 21px;
left: calc(50% - 121.75px/2 + 0.01px);
top: calc(50% - 21px/2);



/* Descuento anual */

position: absolute;
width: 105px;
height: 21px;
left: 0px;
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Icon */

position: absolute;
width: 12.02px;
height: 12px;
left: 109.73px;
top: 16.5px;

transform: matrix(1, 0, 0, -1, 0, 0);


/* Vector */

position: absolute;
left: 0.08%;
right: 25.04%;
top: 71.4%;
bottom: -14.3%;

background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* div.unlogged-card-folded-badge */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 2px 10.3px 3.66px 10px;

position: absolute;
left: 543.7px;
right: 9px;
top: 7.17px;
bottom: 7.17px;

background: linear-gradient(68.64deg, #DC4C11 10.71%, #FEAB2E 100%);
border-radius: 20px;


/* -8 % */

width: 27px;
height: 19px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Comparar-ofertas */

position: absolute;
width: 600px;
height: 423px;
left: 20px;
top: 1236px;



/* Heading 2 ⏵ Comparar todas las ofertas */

position: absolute;
width: 396.31px;
height: 32px;
left: 101.94px;
top: 0px;

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* div.grid-line */

position: absolute;
width: 600px;
height: 52px;
left: calc(50% - 600px/2);
top: 56px;



/* Options */

position: absolute;
width: 124px;
height: 38px;
left: 0px;
top: 0px;

background: linear-gradient(79.08deg, #6B42B4 9.75%, #943AAB 95.44%);
border-radius: 8px;


/* div */

position: absolute;
width: 78px;
height: 28px;
left: 16px;
top: calc(50% - 28px/2);



/* Free */

position: absolute;
width: 35.15px;
height: 22px;
left: 21.52px;
top: 3px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 28px;
/* or 175% */
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;



/* Icon */

position: absolute;
width: 15.02px;
height: 19.98px;
left: 101px;
top: 29.48px;

transform: matrix(1, 0, 0, -1, 0, 0);


/* Vector */

position: absolute;
left: 0%;
right: 25%;
top: 65.26%;
bottom: 4.22%;

background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Options */

position: absolute;
width: 124px;
height: 38px;
left: 476px;
top: 0px;

background: linear-gradient(83.31deg, #B84FDD 0%, #4965F4 44.6%, #2EFB74 100%);
border-radius: 8px;


/* div */

position: absolute;
width: 78px;
height: 28px;
left: 16px;
top: calc(50% - 28px/2);



/* Premium */

position: absolute;
width: 73.79px;
height: 22px;
left: 2.2px;
top: 3px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 28px;
/* or 175% */
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;



/* Icon */

position: absolute;
width: 15.02px;
height: 19.98px;
left: 104px;
top: 30.48px;

transform: matrix(1, 0, 0, -1, 0, 0);


/* Vector */

position: absolute;
left: 0%;
right: 25%;
top: 65.26%;
bottom: 4.22%;

background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* div.grid-line */

box-sizing: border-box;

position: absolute;
width: 600px;
height: 36px;
left: calc(50% - 600px/2);
top: 108px;

border-bottom: 1px solid #52525D;


/* 1 */

position: absolute;
width: 7.09px;
height: 14px;
left: 15.06px;
top: 9px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* or 133% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Número de cuentas independientes */

position: absolute;
width: 234.5px;
height: 19px;
left: 182.84px;
top: 8px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* or 121% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* 1 */

position: absolute;
width: 7.09px;
height: 14px;
left: 578.02px;
top: 9px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* or 133% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* div.grid-line */

box-sizing: border-box;

position: absolute;
width: 600px;
height: 40px;
left: calc(50% - 600px/2);
top: 144px;

border-bottom: 1px solid #52525D;


/* div.grid-check */

position: absolute;
width: 21px;
height: 21px;
left: 8px;
top: 9px;

background: linear-gradient(36deg, #44A863 0%, #92C653 100%);
border-radius: 10.5px;


/* SVG */

position: absolute;
width: 12px;
height: 12px;
left: calc(50% - 12px/2);
top: calc(50% - 12px/2);



/* Frame */

position: absolute;
width: 12px;
height: 12px;
left: calc(50% - 12px/2);
top: 0px;



/* Group */

position: absolute;
left: 0.01%;
right: -0.01%;
top: 14.58%;
bottom: 15.42%;



/* Vector */

position: absolute;
left: 0.01%;
right: -0.01%;
top: 14.58%;
bottom: 15.42%;

background: #32323D;


/* Más de 90 millones de canciones */

position: absolute;
width: 214.43px;
height: 19px;
left: 192.88px;
top: 8px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* or 121% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* div.grid-check */

position: absolute;
width: 21px;
height: 21px;
left: 570.95px;
top: 9px;

background: linear-gradient(36deg, #44A863 0%, #92C653 100%);
border-radius: 10.5px;


/* SVG */

position: absolute;
width: 12px;
height: 12px;
left: calc(50% - 12px/2);
top: calc(50% - 12px/2);



/* Frame */

position: absolute;
width: 12px;
height: 12px;
left: calc(50% - 12px/2);
top: 0px;



/* Group */

position: absolute;
left: 0.01%;
right: -0.01%;
top: 14.58%;
bottom: 15.42%;



/* Vector */

position: absolute;
left: 0.01%;
right: -0.01%;
top: 14.58%;
bottom: 15.42%;

background: #32323D;


/* div.grid-line */

box-sizing: border-box;

position: absolute;
width: 600px;
height: 40px;
left: calc(50% - 600px/2);
top: 184px;

border-bottom: 1px solid #52525D;


/* div.grid-check */

position: absolute;
width: 21px;
height: 21px;
left: 8px;
top: 9px;

background: linear-gradient(36deg, #44A863 0%, #92C653 100%);
border-radius: 10.5px;


/* SVG */

position: absolute;
width: 12px;
height: 12px;
left: calc(50% - 12px/2);
top: calc(50% - 12px/2);



/* Frame */

position: absolute;
width: 12px;
height: 12px;
left: calc(50% - 12px/2);
top: 0px;



/* Group */

position: absolute;
left: 0.01%;
right: -0.01%;
top: 14.58%;
bottom: 15.42%;



/* Vector */

position: absolute;
left: 0.01%;
right: -0.01%;
top: 14.58%;
bottom: 15.42%;

background: #32323D;


/* Miles de podcasts */

position: absolute;
width: 116.53px;
height: 19px;
left: 241.83px;
top: 8px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* or 121% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* div.grid-check */

position: absolute;
width: 21px;
height: 21px;
left: 570.95px;
top: 9px;

background: linear-gradient(36deg, #44A863 0%, #92C653 100%);
border-radius: 10.5px;


/* SVG */

position: absolute;
width: 12px;
height: 12px;
left: calc(50% - 12px/2);
top: calc(50% - 12px/2);



/* Frame */

position: absolute;
width: 12px;
height: 12px;
left: calc(50% - 12px/2);
top: 0px;



/* Group */

position: absolute;
left: 0.01%;
right: -0.01%;
top: 14.58%;
bottom: 15.42%;



/* Vector */

position: absolute;
left: 0.01%;
right: -0.01%;
top: 14.58%;
bottom: 15.42%;

background: #32323D;


/* div.grid-line */

box-sizing: border-box;

position: absolute;
width: 600px;
height: 40px;
left: calc(50% - 600px/2);
top: 224px;

border-bottom: 1px solid #52525D;


/* div.grid-check */

position: absolute;
width: 21px;
height: 21px;
left: 8px;
top: 9px;

background: linear-gradient(36deg, #44A863 0%, #92C653 100%);
border-radius: 10.5px;


/* SVG */

position: absolute;
width: 12px;
height: 12px;
left: calc(50% - 12px/2);
top: calc(50% - 12px/2);



/* Frame */

position: absolute;
width: 12px;
height: 12px;
left: calc(50% - 12px/2);
top: 0px;



/* Group */

position: absolute;
left: 0.01%;
right: -0.01%;
top: 14.58%;
bottom: 15.42%;



/* Vector */

position: absolute;
left: 0.01%;
right: -0.01%;
top: 14.58%;
bottom: 15.42%;

background: #32323D;


/* Mixes y playlists personalizadas */

position: absolute;
width: 206.68px;
height: 19px;
left: 196.75px;
top: 8px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* or 121% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* div.grid-check */

position: absolute;
width: 21px;
height: 21px;
left: 570.95px;
top: 9px;

background: linear-gradient(36deg, #44A863 0%, #92C653 100%);
border-radius: 10.5px;


/* SVG */

position: absolute;
width: 12px;
height: 12px;
left: calc(50% - 12px/2);
top: calc(50% - 12px/2);



/* Frame */

position: absolute;
width: 12px;
height: 12px;
left: calc(50% - 12px/2);
top: 0px;



/* Group */

position: absolute;
left: 0.01%;
right: -0.01%;
top: 14.58%;
bottom: 15.42%;



/* Vector */

position: absolute;
left: 0.01%;
right: -0.01%;
top: 14.58%;
bottom: 15.42%;

background: #32323D;


/* div.grid-line */

box-sizing: border-box;

position: absolute;
width: 600px;
height: 40px;
left: calc(50% - 600px/2);
top: 264px;

border-bottom: 1px solid #52525D;


/* - */

position: absolute;
width: 3.51px;
height: 14px;
left: 16.86px;
top: 9px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* or 133% */
display: flex;
align-items: center;
text-align: center;

color: #A2A2AD;



/* Experiencia sin publicidad */

position: absolute;
width: 169.53px;
height: 19px;
left: 215.33px;
top: 8px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* or 121% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* div.grid-check */

position: absolute;
width: 21px;
height: 21px;
left: 570.95px;
top: 9px;

background: linear-gradient(36deg, #44A863 0%, #92C653 100%);
border-radius: 10.5px;


/* SVG */

position: absolute;
width: 12px;
height: 12px;
left: calc(50% - 12px/2);
top: calc(50% - 12px/2);



/* Frame */

position: absolute;
width: 12px;
height: 12px;
left: calc(50% - 12px/2);
top: 0px;



/* Group */

position: absolute;
left: 0.01%;
right: -0.01%;
top: 14.58%;
bottom: 15.42%;



/* Vector */

position: absolute;
left: 0.01%;
right: -0.01%;
top: 14.58%;
bottom: 15.42%;

background: #32323D;


/* div.grid-line */

box-sizing: border-box;

position: absolute;
width: 600px;
height: 40px;
left: calc(50% - 600px/2);
top: 304px;

border-bottom: 1px solid #52525D;


/* - */

position: absolute;
width: 3.51px;
height: 14px;
left: 16.86px;
top: 9px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* or 133% */
display: flex;
align-items: center;
text-align: center;

color: #A2A2AD;



/* Selecciona y reproduce cualquier canción */

position: absolute;
width: 269.62px;
height: 19px;
left: 165.28px;
top: 8px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* or 121% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* div.grid-check */

position: absolute;
width: 21px;
height: 21px;
left: 570.95px;
top: 9px;

background: linear-gradient(36deg, #44A863 0%, #92C653 100%);
border-radius: 10.5px;


/* SVG */

position: absolute;
width: 12px;
height: 12px;
left: calc(50% - 12px/2);
top: calc(50% - 12px/2);



/* Frame */

position: absolute;
width: 12px;
height: 12px;
left: calc(50% - 12px/2);
top: 0px;



/* Group */

position: absolute;
left: 0.01%;
right: -0.01%;
top: 14.58%;
bottom: 15.42%;



/* Vector */

position: absolute;
left: 0.01%;
right: -0.01%;
top: 14.58%;
bottom: 15.42%;

background: #32323D;


/* div.grid-line */

box-sizing: border-box;

position: absolute;
width: 600px;
height: 40px;
left: calc(50% - 600px/2);
top: 344px;

border-bottom: 1px solid #52525D;


/* - */

position: absolute;
width: 3.51px;
height: 14px;
left: 16.86px;
top: 9px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* or 133% */
display: flex;
align-items: center;
text-align: center;

color: #A2A2AD;



/* Reproducción sin conexión */

position: absolute;
width: 176.14px;
height: 19px;
left: 212.02px;
top: 8px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* or 121% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* div.grid-check */

position: absolute;
width: 21px;
height: 21px;
left: 570.95px;
top: 9px;

background: linear-gradient(36deg, #44A863 0%, #92C653 100%);
border-radius: 10.5px;


/* SVG */

position: absolute;
width: 12px;
height: 12px;
left: calc(50% - 12px/2);
top: calc(50% - 12px/2);



/* Frame */

position: absolute;
width: 12px;
height: 12px;
left: calc(50% - 12px/2);
top: 0px;



/* Group */

position: absolute;
left: 0.01%;
right: -0.01%;
top: 14.58%;
bottom: 15.42%;



/* Vector */

position: absolute;
left: 0.01%;
right: -0.01%;
top: 14.58%;
bottom: 15.42%;

background: #32323D;


/* div.grid-line */

position: absolute;
width: 600px;
height: 39px;
left: calc(50% - 600px/2);
top: 384px;



/* - */

position: absolute;
width: 3.51px;
height: 14px;
left: 16.86px;
top: 9px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* or 133% */
display: flex;
align-items: center;
text-align: center;

color: #A2A2AD;



/* p.grid-heading */

position: absolute;
height: 21px;
left: 37.03px;
right: 37.05px;
top: 9px;



/* span.hifi-badge */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 2.45px 1px 2px;

position: absolute;
width: 29.45px;
height: 18px;
left: calc(50% - 29.45px/2 - 78.54px);
top: 1px;

background: linear-gradient(85.09deg, #F7E2AE 0%, #F6E5B8 27%, #E4CA8D 47%, #D2B062 67%, #CCA555 100%);
border-radius: 4px;


/* HiFi */

width: 25px;
height: 17px;

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 17px;
/* identical to box height, or 131% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Sonido de alta fidelidad */

position: absolute;
width: 157px;
height: 17px;
left: 199.14px;
top: 0px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height, or 121% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* div.grid-check */

position: absolute;
width: 21px;
height: 21px;
left: 570.95px;
top: 9px;

background: linear-gradient(36deg, #44A863 0%, #92C653 100%);
border-radius: 10.5px;


/* SVG */

position: absolute;
width: 12px;
height: 12px;
left: calc(50% - 12px/2);
top: calc(50% - 12px/2);



/* Frame */

position: absolute;
width: 12px;
height: 12px;
left: calc(50% - 12px/2);
top: 0px;



/* Group */

position: absolute;
left: 0.01%;
right: -0.01%;
top: 14.58%;
bottom: 15.42%;



/* Vector */

position: absolute;
left: 0.01%;
right: -0.01%;
top: 14.58%;
bottom: 15.42%;

background: #32323D;


/* Tarjetas ⏵ List ⏵ Item */

position: absolute;
height: 503px;
left: 20px;
right: 20px;
top: 1709px;

background: linear-gradient(163.44deg, #202122 39%, #3C3C49 82%);
border-radius: 20px;


/* Heading 2 ⏵ Tarjeta regalo */

position: absolute;
width: 241.06px;
height: 38px;
left: 179.56px;
top: 13px;

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 37px;
line-height: 45px;
/* or 122% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* ¿Qué puede ser mejor que disfrutar de música ilimitada durante 3, 6 o 12 meses? */

position: absolute;
width: 501.91px;
height: 16px;
left: 49.33px;
top: 74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* or 136% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* gift-cards.27e752d1953318003b38c96acacdab68.png */

position: absolute;
height: 264px;
left: 144px;
right: 144px;
top: calc(50% - 264px/2 - 3.5px);

background: url(.png);


/* Link */

position: absolute;
width: 338px;
height: 54px;
left: calc(50% - 338px/2);
top: calc(50% - 54px/2 + 155.5px);

background: #121216;
border-radius: 400px;


/* Conseguir una tarjeta regalo */

position: absolute;
width: 227.9px;
height: 16px;
left: 55.23px;
top: 19px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* or 100% */
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;



/* Link ⏵ Activar mi tarjeta regalo */

position: absolute;
width: 148.48px;
height: 16px;
left: 225.86px;
top: 459px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* or 136% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Aviso */

position: absolute;
width: 600px;
height: 300px;
left: 20px;
top: 2260px;



/* Ofertas no vinculantes, podrás cancelar tu suscripción en cualquier momento. Estas ofertas solo están disponibles para los usuarios que no estén ni hayan estado suscritos a Deezer, que no se hayan beneficiado de ninguna promoción previa de Deezer y que no hayan disfrutado de una prueba gratuita de ninguna suscripción de Deezer en ningún momento. Estas ofertas no son acumulables con ninguna otra oferta. Solo es posible beneficiarse de estas ofertas una vez y son válidas para un solo usuario. */

position: absolute;
width: 600.43px;
height: 114px;
left: 0.09px;
top: 90px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 25px;
/* or 208% */
display: flex;
align-items: center;
text-align: center;

color: #92929D;



/* Footer */

box-sizing: border-box;

position: absolute;
width: 1920px;
height: 752px;
left: 0px;
top: 2675px;

background: #121216;
border-top: 1px solid #32323D;


/* div.cell */

position: absolute;
height: 95px;
left: 127px;
right: 127px;
top: 65px;



/* Link ⏵ es-es.svg */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0.00201878px 0px 0.00201717px;

position: absolute;
width: 134.61px;
height: 45px;
left: 682.25px;
top: calc(50% - 45px/2 - 25px);



/* app-store */

width: 134.61px;
height: 45px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #A6A6A6;


/* Vector */

position: absolute;
left: 0.73%;
right: 0.73%;
top: 2.19%;
bottom: 2.18%;

background: #000000;


/* <Group> */

position: absolute;
left: 8.33%;
right: 8.5%;
top: 21.8%;
bottom: 16.27%;



/* <Group> */

position: absolute;
left: 8.33%;
right: 76.86%;
top: 21.8%;
bottom: 23.76%;



/* <Group> */

position: absolute;
left: 8.33%;
right: 76.86%;
top: 21.8%;
bottom: 23.76%;



/* <Path> */

position: absolute;
left: 8.33%;
right: 76.86%;
top: 34.93%;
bottom: 23.76%;

background: #FFFFFF;


/* <Path> */

position: absolute;
left: 15.7%;
right: 80.64%;
top: 21.8%;
bottom: 65.65%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 28.77%;
right: 8.5%;
top: 44.68%;
bottom: 16.27%;



/* Vector */

position: absolute;
left: 28.77%;
right: 62%;
top: 45.2%;
bottom: 23.76%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 38.97%;
right: 53.9%;
top: 53.36%;
bottom: 16.27%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 47.3%;
right: 45.58%;
top: 53.36%;
bottom: 16.27%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 58.34%;
right: 33.7%;
top: 44.68%;
bottom: 23.24%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 66.99%;
right: 28.91%;
top: 48.25%;
bottom: 23.63%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 71.92%;
right: 20.9%;
top: 53.33%;
bottom: 23.48%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 80.38%;
right: 15.75%;
top: 53.36%;
bottom: 23.76%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 84.58%;
right: 8.5%;
top: 53.33%;
bottom: 23.48%;

background: #FFFFFF;


/* <Group> */

position: absolute;
left: 29.61%;
right: 13.37%;
top: 20.05%;
bottom: 58.95%;



/* Group */

position: absolute;
left: 29.61%;
right: 13.37%;
top: 20.05%;
bottom: 58.95%;



/* Vector */

position: absolute;
left: 29.61%;
right: 66.07%;
top: 21.46%;
bottom: 62.88%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 34.76%;
right: 61.67%;
top: 25.27%;
bottom: 63.04%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 39.32%;
right: 57.47%;
top: 25.26%;
bottom: 63.26%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 43.48%;
right: 53.42%;
top: 25.27%;
bottom: 63.04%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 47.52%;
right: 50.74%;
top: 20.05%;
bottom: 63.26%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 49.34%;
right: 47.14%;
top: 25.3%;
bottom: 58.96%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 53.99%;
right: 42.79%;
top: 25.49%;
bottom: 63.02%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 58.2%;
right: 38.38%;
top: 25.27%;
bottom: 63.01%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 62.66%;
right: 36.6%;
top: 21.09%;
bottom: 63.26%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 64.42%;
right: 32.01%;
top: 25.27%;
bottom: 63.04%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 70.82%;
right: 25.75%;
top: 25.27%;
bottom: 63.01%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 75.24%;
right: 21.55%;
top: 25.26%;
bottom: 63.26%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 81.43%;
right: 15.14%;
top: 25.27%;
bottom: 63.01%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 85.89%;
right: 13.37%;
top: 21.09%;
bottom: 63.26%;

background: #FFFFFF;


/* Link ⏵ es-es.svg */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 0.00250488px 0px 0.0025px;

position: absolute;
width: 151.88px;
height: 45px;
left: 831.86px;
top: calc(50% - 45px/2 - 25px);



/* google-play */

width: 151.88px;
height: 45px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: -7.41%;
right: -7.41%;
top: -25%;
bottom: -25%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #A6A6A6;


/* Vector */

position: absolute;
left: 30.28%;
right: 6.8%;
top: 42.49%;
bottom: 15%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 7.39%;
right: 83.04%;
top: 18.68%;
bottom: 18.67%;

background: linear-gradient(207.28deg, #00A0FF 6.16%, #00A1FF 7.04%, #00BEFF 29.13%, #00D2FF 51.22%, #00DFFF 73.31%, #00E3FF 94.51%);


/* Vector */

position: absolute;
left: 16.96%;
right: 75.52%;
top: 39.3%;
bottom: 39.3%;

background: linear-gradient(270deg, #FFE000 -7.68%, #FFBD00 90.03%, #FFA500 178.21%, #FF9C00 230.64%);


/* Vector */

position: absolute;
left: 7.73%;
right: 79.9%;
top: 50%;
bottom: 17.84%;

background: linear-gradient(232.38deg, #FF3A44 15.56%, #C31162 169.54%);


/* Vector */

position: absolute;
left: 7.73%;
right: 79.91%;
top: 17.84%;
bottom: 50%;

background: linear-gradient(127.63deg, #32A071 -34.12%, #2DA771 -29.31%, #15CF74 -1.12%, #06E775 20.88%, #00F076 34.63%);


/* Vector */

position: absolute;
left: 7.73%;
right: 79.91%;
top: 60.32%;
bottom: 17.86%;

background: #000000;
opacity: 0.2;


/* Vector */

position: absolute;
left: 7.39%;
right: 75.56%;
top: 50%;
bottom: 18.82%;

background: #000000;
opacity: 0.12;


/* Vector */

position: absolute;
left: 7.39%;
right: 75.56%;
top: 17.87%;
bottom: 50%;

background: #FFFFFF;
opacity: 0.25;


/* Vector */

position: absolute;
left: 30.58%;
right: 26.16%;
top: 17.13%;
bottom: 67.18%;

background: #FFFFFF;
border: 0.225px solid #FFFFFF;


/* div.cell-navigation-inner */

position: absolute;
width: 1666px;
height: 355px;
left: 127px;
top: 160px;



/* List */

position: absolute;
width: 270px;
height: 355px;
left: 0px;
top: 0px;



/* Item ⏵ Link ⏵ Deezer */

position: absolute;
width: 48px;
height: 28px;
left: 0px;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Item ⏵ Link ⏵ Ofertas */

position: absolute;
width: 50px;
height: 28px;
left: 0px;
top: 53px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Dispositivos */

position: absolute;
width: 83px;
height: 28px;
left: 0px;
top: 92px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 1px;

position: absolute;
width: 198px;
height: 57px;
left: 0px;
top: 131px;



/* Descárgate la aplicación para */

width: 198px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* ordenador */

width: 69px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Item ⏵ Link ⏵ Tarjeta regalo */

position: absolute;
width: 93px;
height: 28px;
left: 0px;
top: 199px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Ayuda */

position: absolute;
width: 42px;
height: 28px;
left: 0px;
top: 238px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Community y opiniones */

position: absolute;
width: 158px;
height: 28px;
left: 0px;
top: 277px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Blog */

position: absolute;
width: 31px;
height: 28px;
left: 0px;
top: 316px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* List */

position: absolute;
width: 204.61px;
height: 355px;
left: 405.42px;
top: 0px;



/* Item ⏵ Link ⏵ Características */

position: absolute;
width: 103px;
height: 28px;
left: 0px;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Item ⏵ Link ⏵ Flow */

position: absolute;
width: 32px;
height: 28px;
left: 0px;
top: 53px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Identifica canciones */

position: absolute;
width: 135px;
height: 28px;
left: 0px;
top: 92px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Transfiere tu biblioteca */

position: absolute;
width: 155px;
height: 28px;
left: 0px;
top: 131px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Letras */

position: absolute;
width: 42px;
height: 28px;
left: 0px;
top: 170px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Reproducción sin conexión */

position: absolute;
width: 182px;
height: 28px;
left: 0px;
top: 209px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* List */

position: absolute;
width: 248.23px;
height: 355px;
left: 745.45px;
top: 0px;



/* Item ⏵ Link ⏵ Explorar */

position: absolute;
width: 56px;
height: 28px;
left: 0px;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Item ⏵ Link ⏵ Charts */

position: absolute;
width: 45px;
height: 28px;
left: 0px;
top: 53px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Lanzamiento más popular */

position: absolute;
width: 175px;
height: 28px;
left: 0px;
top: 92px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Nuevos lanzamientos */

position: absolute;
width: 145px;
height: 28px;
left: 0px;
top: 131px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Radios */

position: absolute;
width: 47px;
height: 28px;
left: 0px;
top: 170px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Podcasts */

position: absolute;
width: 63px;
height: 28px;
left: 0px;
top: 209px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Música para todos los momentos */

position: absolute;
width: 224px;
height: 28px;
left: 0px;
top: 248px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Zen by deezer */

position: absolute;
width: 94px;
height: 28px;
left: 0px;
top: 287px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* List */

position: absolute;
width: 171.25px;
height: 355px;
left: 1129.11px;
top: 0px;



/* Item ⏵ ¿Quiénes somos? */

position: absolute;
width: 120px;
height: 25px;
left: 0px;
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 25px;
/* identical to box height, or 167% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Item ⏵ Link ⏵ Inversores */

position: absolute;
width: 71px;
height: 28px;
left: 0px;
top: 49px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Brand Partnerships */

position: absolute;
width: 130px;
height: 28px;
left: 0px;
top: 88px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Músicos y podcasters */

position: absolute;
width: 148px;
height: 28px;
left: 0px;
top: 127px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Desarrolladores */

position: absolute;
width: 107px;
height: 28px;
left: 0px;
top: 166px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Prensa */

position: absolute;
width: 47px;
height: 28px;
left: 0px;
top: 205px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Ofertas de empleo */

position: absolute;
width: 124px;
height: 28px;
left: 0px;
top: 244px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* List */

position: absolute;
width: 230.2px;
height: 355px;
left: 1435.78px;
top: 0px;



/* Item ⏵ Link ⏵ Legal */

position: absolute;
width: 37px;
height: 28px;
left: 0px;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #FFFFFF;



/* Item ⏵ Link ⏵ Condiciones generales de uso */

position: absolute;
width: 202px;
height: 28px;
left: 0px;
top: 53px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Política de privacidad */

position: absolute;
width: 145px;
height: 28px;
left: 0px;
top: 92px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Cookies */

position: absolute;
width: 55px;
height: 28px;
left: 0px;
top: 131px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Open Source Software Report (EN) */

position: absolute;
width: 233px;
height: 28px;
left: 0px;
top: 170px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* Item ⏵ Link ⏵ Digital Services Act */

position: absolute;
width: 131px;
height: 28px;
left: 0px;
top: 209px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 28px;
/* identical to box height, or 187% */
display: flex;
align-items: center;

color: #BEBEC7;



/* div.cell */

position: absolute;
height: 120px;
left: 127px;
right: 127px;
top: 515px;



/* Redes */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 7px 7px 0px;
gap: 23px;

position: absolute;
width: 163px;
height: 27px;
left: 0px;
bottom: 0px;



/* Facebook ⏵ Link ⏵ SVG */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

position: absolute;
width: 20px;
height: 20px;
left: calc(50% - 20px/2);
top: 0px;



/* Vector */

position: absolute;
left: 25%;
right: 20.83%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* Instagram ⏵ Link ⏵ SVG */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame */

position: absolute;
width: 20px;
height: 20px;
left: calc(50% - 20px/2);
top: 0px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* Twitter ⏵ Link ⏵ SVG */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame */

position: absolute;
width: 20px;
height: 20px;
left: calc(50% - 20px/2);
top: 0px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 10.39%;
bottom: 8.32%;

background: #FFFFFF;


/* Youtube ⏵ Link ⏵ SVG */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Frame */

position: absolute;
width: 20px;
height: 20px;
left: calc(50% - 20px/2);
top: 0px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 12.5%;
bottom: 12.5%;

background: #FFFFFF;


/* Logo */

position: absolute;
width: 181px;
height: 40px;
left: calc(50% - 181px/2 - 6.08px);
top: calc(50% - 40px/2 + 40px);

background: url(.png);


/* apartado-legal */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 175.15px;
height: 18px;
left: 1490.84px;
top: 102px;



/* © 2023 Deezer */

width: 93px;
height: 14px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;

color: #818181;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px -0.620003px;


/* div.navbarlenguaje */

width: 82.77px;
height: 18px;

border-radius: 3px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Español */

position: absolute;
width: 50px;
height: 22px;
left: 8px;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */
display: flex;
align-items: center;

color: #D1D1D7;



/* Icon */

position: absolute;
width: 14px;
height: 14px;
left: 68.76px;
top: 18px;

transform: matrix(1, 0, 0, -1, 0, 0);


/* Vector */

position: absolute;
left: 0%;
right: 25%;
top: 71.4%;
bottom: -14.3%;

background: #D1D1D7;
transform: matrix(1, 0, 0, -1, 0, 0);
