html::-webkit-scrollbar{
    width: 12px;
    background: #191922;
    border-left: #32323d solid 1px;
}
html::-webkit-scrollbar-thumb{
    background: #52525d;
    border: 2px solid #32323d;
    border-radius: 10px;
}
h1,h2{
    font-family: 'Mabry Pro', sans-serif;
}
